
export(glht, contrMat, univariate, adjusted, Ftest, Chisqtest, mcp, modelparm,
       adjusted_calpha, univariate_calpha,
       ### deprecated
       csimint, simint, csimtest, simtest)

S3method(summary, glht)
S3method(confint, glht)
S3method(print, glht)
S3method(coef, glht)
S3method(vcov, glht)
S3method(print, confint.glht)
S3method(plot, confint.glht)
S3method(plot, glht)
S3method(print, contrMat)
S3method(print, summary.glht)
S3method(print, summary.gtest)
S3method(glht, matrix)
S3method(glht, character)
S3method(glht, expression)
S3method(glht, mcp)

### deprecated from multcomp version 0.4-8
S3method(simint, formula)
S3method(simint, lm)
S3method(simtest, formula)
S3method(simtest, lm)
S3method(summary, summary.glht)
S3method(summary, confint.glht)
